* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* html #tudo {
    height: 100%;
    min-height: 100%;
}

#tudo {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

.tudo p {
    line-height: 2em;
    font-size: 1.2em;
    font-family: var(--font);
    font-weight: 300;
}

.controle {
    max-width: 1080px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff !important;
    overflow-x: hidden;
    backface-visibility: hidden;
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font);
    font-weight: 300;
}

section {
    float: left;
    width: 100%;
}

.clear,
.clearfix {
    clear: both;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-direction: row;
    justify-content: flex-start;
}

.flex-item.end {
    margin-left: auto;
}

#conteudo {
    padding-bottom: 100px;
    min-height: 100vh;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    #conteudo {
        padding-bottom: 250px;
    }
}

.arrow img{
    position: absolute;
    z-index: 5;
    filter: invert(1);
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    opacity: 0;
    transition: all linear 0.2s;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
    opacity: 1;
    transition: 1s all linear;
    border-radius: 20px;
}