nav#menu {
    background: var(--dark-blue);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    float: left;
    left: -500vw;
    color: #fff;
    /* display: none; */
    transition: 0.4s all linear;
    border: 2px solid var(--blue);
    box-shadow: 10px 10px 0 var(--blue);
}

nav#menu:after {
    position: absolute;
    background-color: var(--blue);
    z-index: -1;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top: -10px;
    left: 40px;
    content: '';
}

nav#menu.active {
    left: -40px;
    transition: 0.2s all linear;

}

header .controle.flex-container {
    position: relative;
}

nav#menu .lista-3 {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}

.lista-3 ul li {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
}

.lista-3 ul li a {
    color: #fff;
    text-decoration: none;
}


.lista-3 ul li:first-child {
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}

.lista-3 ul li:not(:first-child):hover {
    background: var(--blue);
}

@media (max-width: 768px) {
    nav#menu {
        height: 100vh;
        position: fixed;
        z-index: 999;
        display: block;
        width: 110vw;
        padding: 60px 70px;
        top: 0;
        border: 0;
        box-shadow: 0;
    }

    nav#menu .lista-3{
        padding: 20px 0;
        width: 100%;
        border-bottom: 1px solid var(--dark-blue-2) !important;
    }

    nav#menu .lista-3:last-child{
        border-bottom: 0 !important;
    }

    nav#menu:after {
        display: none;
    }

    .lista-3 li a{
        font-size: 18px;
    }

}