#section.produto h2{
    width: fit-content;
    display: inline-block;
    margin-left: 20px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: 300;
    color: var(--dark-blue);
}

.produto{
    padding: 20px;
    margin: 30px 50px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
}

.container-img{
    border-bottom: 2px solid var(--blue);
}

.produto div.container-img img{
    max-width: 100%;
    margin-bottom: 16px;
}

#produtos-destaque{
    margin-top: 100px;
}

.produto .infos{
    margin: 20px 0 20px 0;
}

.produto .infos .name{
    font-size: 14px;
    color: var(--dark-blue);
    display: block;
    width: 90%;
    height: 40px;
    font-weight: 400;
}

.produto .infos .price{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: var(--dark-blue);
}

a.btn.btn-buy{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    background: var(--blue);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

a.btn.btn-buy.bought{
    background: var(--dark-blue);
    text-align: left;
    position: relative;
}

a.btn.btn-buy.bought:after{
    position: absolute;
    background: url(../../img/mario.png);
    content: '';
    height: 80px;
    width: 60px;
    right: 0px;
    top: -30px;
    z-index: 9;
    background-repeat: no-repeat;
}

a.btn.btn-buy:hover{
    transition: 0.3s all linear;
    background: var(--dark-blue);
    
}